.color {
  width: 20px;
}

.bold {
  font-weight: 1000;
}

.cursiv {
  font-style: italic;
}

.emphatic {
  text-decoration: underline;
}

textarea {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  resize: none;
  outline: none;
}
.all {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.settings {
  display: flex;
  position: absolute;
  right: 0;
}

.btn {
  border: none;
}
